<h2>Popular Tags</h2>

<!-- TAG CAPSULES -->
<mat-chip-listbox class="tag-list">
  @for(tag of tags; track tag.name){
  <mat-chip color="primary" selected class="tag-chip">
    {{ tag.name }}
  </mat-chip>
  }
</mat-chip-listbox>

<hr />

<!-- ADD NEW TAG -->
<h3>Add New Tag</h3>

<form [formGroup]="tagForm" (ngSubmit)="addTag()" class="tag-form">

  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Tag name</mat-label>
    <input matInput placeholder="e.g. angular" formControlName="name" />

    <mat-error *ngIf="tagForm.get('name')?.hasError('required')">
      Tag name is required
    </mat-error>
    <mat-error *ngIf="tagForm.get('name')?.hasError('minlength')">
      Minimum 2 characters
    </mat-error>
  </mat-form-field>

  <button mat-raised-button color="primary" type="submit" [disabled]="tagForm.invalid">
    Add Tag
  </button>

</form>